@import "~bootstrap/scss/bootstrap.scss";

body {
  background-color: green;
}

.card {
  text-align: center;
  background: white;
  height: 380px;
  font-size: 120px;
  width: 250px;
  padding-top: 80px;
  border: 1px solid black;
  border-radius: 25px;
  margin-top: 5%;
  margin-right: 50%;
  margin-left: 30%;
  box-shadow: 10px 10px 5px darkgreen;

  &:before {
    position: absolute;
    top: -15px;
    left: 20px;
    font-size: 80px;
  }

  &:after {
    position: absolute;
    bottom: 0px;
    right: 20px;
    font-size: 80px;
  }

  &.spade:before,
  &.spade:after {
    content: "\2660";
  }

  &.club:before,
  &.club:after {
    content: "\2663";
  }
  &.heart:before,
  &.heart:after {
    content: "\2665";
    color: red;
  }

  &.diamond:before,
  &.diamond:after {
    content: "\2666";
    color: red;
  }
}
